{{ $ := .root }}
{{ $page := .page }}

<!-- About widget -->
<div class="row" itemprop="author">
  <div class="col-xs-12 col-md-4">
    <div id="profile">
      <img class="logo" src="{{ (printf "/img/%s" $.Site.Params.avatar) | relURL }}">
      <meta itemprop="image"
            content="{{ (printf "img/%s" $.Site.Params.avatar) | absURL }}">
    </div>
  </div>

  <div class="col-xs-12 col-md-8" itemprop="description">
    {{ $page.Content }}

    <h3>News</h3>
    <ul class='ul-interests'>
    {{ with $.GetPage "/home/news.md" }}
      {{ range first 6 .Params.news }}
        {{ partial "news_style.html" . }}
      {{ end }}
    {{ end }}
    </ul>

    <a href="{{ ($.Site.GetPage "section" "news").Permalink }}">
    All News >>
    </a>
  </div>
</div>
