{{ $ := .root }}
{{ $page := .page }}

<!-- About widget -->
<div class="row" itemprop="author" itemscope itemtype="http://schema.org/Person" itemref="{{ if $.Site.Params.email }}person-email{{ end }}{{ if $.Site.Params.phone }} person-telephone{{ end }}{{ if $.Site.Params.address}} person-address{{ end }}">
  <div class="col-xs-12 col-md-4">
    <h1> About </h1>
  </div>
  <div class="col-xs-12 col-md-8" itemprop="description">


    {{ $page.Content }}

    <div class="row">

      {{ with $.GetPage "/home/news.md" }}
        <h3>News</h3>
        <ul class="ul-interests">
          {{ range .Params.news }}
            <li><i>{{ .date | markdownify }}</i> - {{ .content | markdownify }}</li>
          {{ end }}
        </ul>
      {{ end }}

    </div>
  </div>
</div>
