{{ $ := .root }}
{{ $page := .page }}

<!-- Blog Posts widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">

    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>

  </div>
  <div class="col-xs-12 col-md-8">

    <div class="row">
    <ul class="list-split">
    {{ with $page.Params }}
      {{ range .people }}
        <li itemprop="name">
        {{/* Link to website */}}
        {{ if isset . "www" }}
          <a href="{{ .www }}">{{ .name }}</a>
        {{ else }}
          {{ .name }}
        {{ end }}
        <br />
        ↳ 
        {{ if isset . "org" }}
          <span class="institution">{{ .grad_year }} · {{ .org }}</span>
        {{ else }}
          <span class="institution">{{ .grad_year }} </span>
        {{ end }}</li>
      {{ end }}
    {{ end }}
    </ul>
    </div>

  </div>
</div>
