{{ $ := .root }}
{{ $page := .page }}

<!-- Blog Posts widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">

    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>

  </div>
  <div class="col-xs-12 col-md-8">

    <div class="row">
    <ul>
    {{ with $page.Params.people }}
      {{ range .alumni }}
        <li itemprop="name">
        {{ if isset . "www" }}
          <a href="{{ .www }}">{{ .name }}</a>
        {{ else }}
          {{ .name }}
        {{ end }}
        ({{ .grad_year }})
        {{ if isset . "diss" }}
          [<a href="{{ .diss }}">dissertation</a>]
        {{ end }}</li>
      {{ end }}
    {{ end }}
    </ul>
    </div>

  </div>
</div>
