{{ $ := .root }}
{{ $page := .page }}

<!-- Blog Posts widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">

    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>

  </div>
  <div class="col-xs-12 col-md-8">

    {{ with $page.Params.people }}
      {{ range .students }}
        <div id="profile">
          <div class="portrait"
               style="background-image: url('{{ (printf "/img/%s" .img) | relURL }}');"></div>
          <meta itemprop="image" content="{{ (printf "img/%s" .img) | absURL }}">

          <div class="portrait-title">
            <h3 itemprop="name">{{ .name }}</h3>
          </div>
        </div>
      {{ end }}
    {{ end }}

  </div>
</div>
