<li>
  {{ if .date }}
  <i>{{ .date | markdownify }}</i> -
  {{ end }}
  {{ if (eq .kind "paper") }}
    {{/* Styling for 'paper' news items */}}
  <a href="{{ .paper_link }}">{{ .paper_name | markdownify }}</a> was
  {{ if (.cond) }}
     conditionally
  {{ end }}
  accepted at <a href="{{ .conf_link }}">{{ .conf_name }}</a>. Congratulations, {{ .who }}!
  {{ else if (eq .kind "award") }}
    {{/* Styling for 'award' news items */}}
    {{ .who | markdownify }} received the <a href="{{ .award_link }}">{{ .award_name }}</a>. Congratulations!
  {{ else }}
    {{ .content | markdownify }}
  {{ end }}
</li>
