<div class="pub-list-item card-simple" itemscope itemtype="http://schema.org/CreativeWork">

  {{ if .Params.image_preview }}
    {{ .Scratch.Set "image" .Params.image_preview }}
  {{ else if .Params.header.image }}
    {{ .Scratch.Set "image" .Params.header.image }}
  {{ end }}

  {{ if .Params.image_alt }}
    {{ .Scratch.Set "imageAlt" .Params.image_alt }}
  {{ else }}
    {{ .Scratch.Set "imageAlt" "default image alt" }}
  {{ end }}

  {{ if .Scratch.Get "image" }}
  <div>
    <a href="{{ .Permalink }}">
      {{ $img_src := urls.Parse (.Scratch.Get "image") }}
      {{ if $img_src.Scheme }}
        <img src="{{ .Scratch.Get "image" }}" class="article-banner" itemprop="image" alt="{{ .Scratch.Get "imageAlt" }}">
      {{ else }}
        <img src="{{ "/img/" | relURL }}{{ .Scratch.Get "image" }}" class="article-banner" itemprop="image" alt="{{ .Scratch.Get "imageAlt" }}">
      {{ end }}
    </a>
  </div>
  {{ end }}

  <a href="{{ .Permalink }}" class="article-title" itemprop="url">
    <h3 itemprop="name" style="margin-bottom: 0.25rem;">
      {{ .Title }}
    </h3>

    {{ if .Params.subtitle }}
    <h4 style="margin-top: 0rem;"> {{ .Params.subtitle }} </h4>
    {{ end }}
  </a>


  <div class="pub-abstract" itemprop="text">
    {{ if .Params.abstract_short }}
      {{ .Params.abstract_short | markdownify }}
    {{ else }}
      {{ .Params.abstract | markdownify}}
    {{ end }}
  </div>

  <div class="pub-authors" itemprop="author">
    {{ partial "authors" . }}
  </div>

  <div class="pub-publication">
    {{ .Params.publication | markdownify }}
    ({{- .Date.Format "2006" -}})
  </div>

  <div class="pub-links">
    {{ partial "publication_links" (dict "content" . "is_list" 1) }}
  </div>

</div>
