<div class="pub-list-item" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
  <hr>

  <i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i>
  <a href="{{ .Permalink }}" itemprop="name">
    {{ .Title  }}
    {{- if .Params.subtitle -}}
      : {{ .Params.subtitle }}
    {{- end -}}
  </a>

  <br />
  <span itemprop="author" class="author-mla">
  {{ partial "authors" . }}
  •
  {{ if .Params.publication_short }}
    {{- .Params.publication_short | markdownify -}}
  {{ else if .Params.publication }}
    {{- .Params.publication | markdownify -}}
  {{ end }}
  ({{- .Date.Format "2006" -}})
  </span>

  <br />
  <span>
    {{ partial "publication_links" (dict "content" . "is_list" 1) }}
  </span>
</div>
