{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ partial "header_image.html" . }}

<div class="row">
  <div class="col-md-7 col-xs-8 col-xs-offset-2">
    <h1>{{ .Title }}</h1>
      {{ with .Content }}
      <div class="article-style" itemprop="articleBody">{{ . }}</div>
      {{ end }}

      {{ range .Data.Pages }}
        {{ $params := dict "page" . }}
          {{ partial "archive" $params }}
      {{ end }}

    <!-- Hard code non pl-www  great page. -->
    <div class="pub-list-item" itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
      <i class="fa fa-newspaper-o pub-icon" aria-hidden="true"></i>
      <a href="https://www.cs.cornell.edu/courses/cs7194/2019sp/" itemprop="url"><span itemprop="headline">Great Works (Spring 2019)</span></a>
    </div>
  </div>
</div>

{{ partial "footer_container.html" }}
{{ partial "footer.html" }}
